.product-page {
  padding: 10px;
}
.product-page-tech {
  background: url("../images/product-background.jpg");
  background-size: cover;
  background-position: center;
  padding: 10px;
}

.product-page-tech h3 {
  color: white;
}

.product-page-tech h5 {
  color: white;
}

.product-intro {
  padding: 10px;
}

.specs-img {
  width: 100%;
}

.product-title {
  font-size: 15px;
  text-align: center;
}

.tech-description {
  display: flex;
  flex-direction: column;
}

li {
  font-size: 13px;
  margin: 10px;
}

ul {
  padding-left: 20px;
}
